/* Reset default margin and padding */
body, h1, h2, h3, ul, li {
  margin: 0;
  padding: 0;
}

header {
  background-color: #223366;
  padding: 30px;
  /*text-align: left;*/
  color: #fff;
  padding-left: 30px;
}

nav ul {
  list-style-type: none;
  text-align: right;
  margin-bottom: 10px;
}

nav ul li {
  display: inline;
  margin-left: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px;

}
/*
.calculator {
  background-color: #223366;
  color: #fff;
  padding: 30px;
  padding-left: 50px;
}
 

.calculator p {
  padding-left: 100px;
  color: #fff;
}*/
